Fatura Kayıt Sistemi/Service References/WebService_/WebService_.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="programVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckUpdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckLisance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="activator" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckLisanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckLisanceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUpdate" />
  </wsdl:message>
  <wsdl:message name="CheckUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="CheckLisanceSoapIn">
    <wsdl:part name="parameters" element="tns:CheckLisance" />
  </wsdl:message>
  <wsdl:message name="CheckLisanceSoapOut">
    <wsdl:part name="parameters" element="tns:CheckLisanceResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService_Soap">
    <wsdl:operation name="CheckUpdate">
      <wsdl:input message="tns:CheckUpdateSoapIn" />
      <wsdl:output message="tns:CheckUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckLisance">
      <wsdl:input message="tns:CheckLisanceSoapIn" />
      <wsdl:output message="tns:CheckLisanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService_Soap" type="tns:WebService_Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUpdate">
      <soap:operation soapAction="http://tempuri.org/CheckUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLisance">
      <soap:operation soapAction="http://tempuri.org/CheckLisance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService_Soap12" type="tns:WebService_Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUpdate">
      <soap12:operation soapAction="http://tempuri.org/CheckUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLisance">
      <soap12:operation soapAction="http://tempuri.org/CheckLisance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService_">
    <wsdl:port name="WebService_Soap" binding="tns:WebService_Soap">
      <soap:address location="http://localhost:63890/WebService_.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService_Soap12" binding="tns:WebService_Soap12">
      <soap12:address location="http://localhost:63890/WebService_.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>